<%- include('../_layout/admin_header'); %>
    <link rel="stylesheet" href="/css/my.bootstrap-select.css">

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>App List</h3>
              </div>

              <div class="title_right">

              </div>
            </div>

            <div class="clearfix"></div>
            
            <div class="row">
                <!-- 搜尋框 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <form method="get" id="searchApp" class="search-block" action="">
                        <input type="text" class="search" placeholder="search..."/>
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>

                <!-- 上傳按鈕 -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="rightBtn">
                        <a href="/admin/upload_app" class="btn btn-info">
                            <i class="fa fa-cloud-upload"></i> upload
                        </a>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <!-- New Arrival -->
                <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>New Arrival</h2>
                        </div>
                        <div class="x_content">
                            <!-- 內容 -->
                            <div class="block-content" id="newArea">
                            <% for(var i=0; i<6; i++){ %>
                                <div class="block">
                                    <div class="icon-block">
                                        <img src="../img/app/game<%= i+1 %>.png">
                                    </div>
                                    <div class="text-block">
                                        <div class="title"><span>app<%= i+1 %></span></div>
                                        <div class="message"><span>class<%= i+1 %></span></div>
                                    </div>
                                </div>
                            <% } %>                          
                            </div>
                        </div>
                    </div>
                </div> 

                <!-- Class Apps -->
                <div class="col-xlg-3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <select class="selectpicker appClassPicker">
                                <option value="game">Game</option>
                                <option value="business">Business</option>
                                <option value="news">News</option>
                                <option value="design">Design</option>
                                <option value="art">Art</option>
                            </select>
                        </div>
                        <div class="x_content">
                            <!-- 內容 -->
                            <div class="block-content" id="show_classApp">
                                <div id="classAppArea">

                                </div>
                            </div>  
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
    <!-- page content -->
    <%- include('../_layout/admin_footer'); %>
    <script src="/js/part/admin/js.app_list.js"></script>









