<%- include('../_layout/admin_header'); %>


        <!-- Content start -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">System Logs</h1>
                </div>
            </div>

            <div class="row">
                <a href="/admin/export_log" class="btn btn-info col-md-offset-10 col-lg-offset-10" style="font-size:18px"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Export Logs</a>
                </span>
            </div>

            <div class="row">
                <div class="col-md-offset-0 col-lg-offset-0 col-md-12 col-lg-12 col-sm-10 col-xs-10" style="margin-top:20px">
                    <table class="table table-bordered table-hover" style="width:100%;font-size:18px;text-align:center">
                        <tbody>
                            <tr class="tg" style="padding-top:20px;background-color:#ddd">
                                <th class="col-md-1 col-lg-1">Date</th>
                                <th class="col-md-1 col-lg-1">Level</th>
                                <th class="col-md-2 col-lg-2">Content</th>
                            </tr>
                            <% all_log_data.forEach(function(data){ %>
                                <tr>
                                    <td><%=data.lastAction%></td>
                                    <td><%=data.level%></td>
                                    <td><%=data.content%></td>
                                </tr>
                            <%  }); %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- End of Content -->

	</div>
	<!-- end of wrapper -->

	<!-- jQuery -->
		
<%- include('../_layout/admin_footer'); %>
