<%- include('../_layout/admin_header'); %>
        <% if(typeof(Message) != 'undefined'){ %>
            <script>alert("<%=Message%>")</script>
        <% } %>
		<!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Brahma Authentication</h3>
                    </div>

                    <div class="title_right">

                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">

                    <!-- show server status -->
                    <div class="col-md-3">
                        <div class="row">
                            <p style="margin-left:20px">
                            <% if (status == 'RUN') { %>   
                            <img src="../../img/icon/server_run.png" style="width:100%" alt="">
                            <% } else { %>
                              <img src="../../img/icon/server_stop.png" style="width:100%" alt="">
                            <% } %>
                            </p>
                        </div>
                        <div class="row">
                            <a href="/admin/operate_overseer/run"><span class="col-md-4" style="text-align:center">
                                <img src="../../img/icon/power_on.png" style="width:100%;cursor:pointer" alt=""><br />
                                <font style="color:green">Start</font>
                            </span></a>
                            <a href="/admin/operate_overseer/stop"><span class="col-md-4" style="text-align:center">
                                <img src="../../img/icon/power_off.png" style="width:100%;cursor:pointer" alt=""><br />
                                <font style="color:red">Stop</font>
                            </span></a>
                            <a href="/admin/operate_overseer/restart"><span class="col-md-4">
                                <img src="../../img/icon/power_restart.png" style="width:100%;cursor:pointer" alt=""><br />
                                <font style="color:orange">Restart</font>
                            </span></a>
                        </div>
                    </div>

                    <!-- show server detail -->
                    <div class=" col-md-offset-1 col-md-6">
                        <div class="row" style="font-size:20px">
                            <p>IP Address : <%= localIP %></p>
                            <p>Port ： <%= port %></p>
                            <% if(status == "RUN") { %>
                                <p>Status ：<font style="color:green">Running</font></p>
                            <% }else{ %>

                                <p>Status ：<font style="color:red">Stop</font></p>
                            <% } %> 
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12" style="padding-left:0px;padding-right:0px">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bell fa-fw"></i> Events
                                </div>
                                <div class="panel-body">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item">
                                            <img src="../../img/icon/information.png" style="width:2%"> Information Message.
                                            <span class="pull-right text-muted small"><em>4 minutes ago</em></span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <img src="../../img/icon/error.png" style="width:2%"> Error Message.
                                            <span class="pull-right text-muted small"><em>12 minutes ago</em></span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <img src="../../img/icon/information.png" style="width:2%"> Information Message.
                                            <span class="pull-right text-muted small"><em>27 minutes ago</em></span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <img src="../../img/icon/information.png" style="width:2%"> Information Message.
                                            <span class="pull-right text-muted small"><em>43 minutes ago</em></span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <img src="../../img/icon/information.png" style="width:2%"> Information Message.
                                            <span class="pull-right text-muted small"><em>11:32 AM</em></span>
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <img src="../../img/icon/error.png" style="width:2%"> Error Message.
                                            <span class="pull-right text-muted small"><em>11:13 AM</em></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<!-- page content -->

	
<%- include('../_layout/admin_footer'); %>

